

<app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
<br/>
<br/>
<app-bootstrap-panel>
    <ng-container class="heading">Heading</ng-container> 
    <!--If you want to render something without putting it inside some html container, use ng-container-->
    <div class="body">
        <h2>Body</h2>
        <p>Content...</p>
    </div>
</app-bootstrap-panel>
<br/>
<app-like 
    [isActive]="tweet.isLiked"
    [likesCount]="tweet.likesCount">
</app-like>
